@import "tailwindcss";

@theme {
  --font-body: "Inter", sans-serif;
  --font-accent: "Playfair Display", serif;
  --font-archivo: "Archivo", sans-serif;
  --font-tenor: "Tenor Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}